html,
body {
  margin: 0;
  padding: 0;
}

#stage {
  position: fixed;
  width: 100%;
  height: 100vh;
}

/*** 共通 ***/
.type_one,
.type_one div,
.type_one_to_two,
.type_one_to_two div,
.type_two,
.type_two div,
.mochi,
.mochi div,
.type_two_to_home,
.type_two_to_home div,
.home,
.home div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*** type_one ***/
.type_one div:nth-child(1) {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scale(0) translateY(-100%) rotate(30deg);
  background-color: #7ad9ff;
}
.type_one div:nth-child(3) {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: translateY(100%);
  background-image: url(./static/fuji.svg);
}
.type_one div:nth-child(2) {
  position: absolute;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: translateX(100%);
  background-image: url(./static/kumo.svg);
}
.type_one div:nth-child(4) {
  position: absolute;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: translateX(100%);
  background-image: url(./static/kumo.svg);
}

.type_one div:nth-child(1) {
  animation: side 0.8s ease 0.5s forwards;
}
.type_one div:nth-child(3) {
  animation: slide_up 0.8s ease 1.5s forwards;
}
.type_one div:nth-child(2) {
  animation: slide_left 4.8s ease 2.5s none;
}
.type_one div:nth-child(4) {
  animation: slide_left 4.8s ease 1.8s none;
}

/*** type_one_to_two　***/
.type_one_to_two div {
  transform: scale(0);
}
.type_one_to_two div:nth-child(1) {
  background-color: #e7babb;
  animation: scale 0.8s ease 5.8s forwards;
}
.type_one_to_two div:nth-child(2) {
  background-color: #accce5;
  animation: scale 0.8s ease 6.1s forwards;
}
.type_one_to_two div:nth-child(3) {
  background-color: #f4dfa3;
  animation: scale 0.8s ease 6.4s forwards;
}

/*** type_two ***/
.type_two div:nth-child(1) {
  position: absolute;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: translateX(100%);
  background-image: url(./static/cow.svg);
  animation: slide_left_stop_center 6.8s ease 6.8s forwards;
}

/*** mochi ***/
.mochi {
  top: 50%;
  left: 50%;
}
.mochi div:nth-child(1) {
  background-color: #ff9900;
  border-radius: 50%;
  transform: translateY(1000%) translateX(-50%);
  width: 10rem;
  height: 10rem;
  animation-fill-mode: forwards;
  animation: mochi_one 1s ease 12.4s forwards;
}
@keyframes mochi_one {
  from {
    transform: translateY(-1000%) translateX(-50%);
  }
  to {
    transform: translateY(-150%) translateX(-50%);
  }
}
.mochi div:nth-child(2) {
  background-color: #ffffff;
  border-radius: 100px 100px 100px 100px;
  transform: translateY(-1000%) translateX(-50%);
  width: 30rem;
  height: 10rem;
  animation-fill-mode: forwards;
  animation: mochi_two 1s ease 12.3s forwards;
}
@keyframes mochi_two {
  from {
    transform: translateY(-1000%) translateX(-50%);
  }
  to {
    transform: translateY(-50%) translateX(-50%);
  }
}
.mochi div:nth-child(3) {
  background-color: #ffffff;
  border-radius: 100px 100px 100px 100px;
  transform: translateY(-1000%) translateX(-50%);
  width: 40rem;
  height: 10rem;
  animation-fill-mode: forwards;
  animation: mochi_three 1s ease 12.2s forwards;
}
@keyframes mochi_three {
  from {
    transform: translateY(-1000%) translateX(-50%);
  }
  to {
    transform: translateY(50%) translateX(-50%);
  }
}

/*** type_two_to_home ***/
.type_two_to_home div {
  transform: scale(0);
}
.type_two_to_home div:nth-child(2n - 1) {
  transform-origin: bottom right;
  transform: translateY(-100%) rotate(30deg);
}
.type_two_to_home div:nth-child(2n) {
  transform-origin: bottom left;
  transform: translateY(-100%) rotate(-30deg);
}
.type_two_to_home div:nth-child(1) {
  background-color: #d6a3f4;
}
.type_two_to_home div:nth-child(2) {
  background-color: #e7babb;
}
.type_two_to_home div:nth-child(3) {
  background-color: #accce5;
}

.type_two_to_home div:nth-child(1) {
  animation: fall_1 0.8s ease 14.2s forwards;
}
.type_two_to_home div:nth-child(2) {
  animation: fall_2 0.8s ease 14.4s forwards;
}
.type_two_to_home div:nth-child(3) {
  animation: fall_1 0.8s ease 14.6s forwards;
}

/*** home ***/
.home {
  background-color: rgb(255, 185, 158);
  width: 100%;
  height: 100%;
  transform: translateY(-100%) rotate(-30deg);
  transform: scale(0);
  animation: fall_1 0.8s ease 14.8s forwards;
}
.home div:nth-child(1) {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: translateX(-20%);
  background-image: url(./static/fuji.svg);
}
.home div:nth-child(2) {
  position: absolute;
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(./static/ore.png);
}
.home div:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: 10rem;
  background-repeat: no-repeat;
  transform: translateX(30%) translateY(-48%);
  background-image: url(./static/kingasinnen.svg);
}

/*** animation ***/
@keyframes side {
  from {
    transform: translateY(-100%) rotate(30deg);
  }
  to {
    transform: translateY(0%) rotate(0deg);
  }
}
@keyframes slide_up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes slide_left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide_left_stop_center {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fall_1 {
  from {
    transform: translateY(-100%) rotate(30deg);
  }
  to {
    transform: translateY(0%) rotate(0deg);
  }
}
@keyframes fall_2 {
  from {
    transform: translateY(-100%) rotate(-30deg);
  }
  to {
    transform: translateY(0%) rotate(0deg);
  }
}
